[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "==9.0.2"
exceptiongroup = {version = "*", markers = "python_version < '3.11'"}
build = "*"
twine = "*"